.selects{
    width: 100%;
    margin: 8px 0 16px;
    padding: 10px;
    border-radius: 6px;
    border: 1.5px solid hsl(0, 0%, 11%);
    outline: none;
    background: hsl(0, 0%, 7%);
    color: hsl(0, 0%, 95%);
}