* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  background: radial-gradient(circle at top,hsla(0, 0%, 3%),hsl(0, 0%, 2%));
  justify-content: center;
  align-items: center;
}

.root{
  width: 100%;
  display: flex;
  justify-content: center;
}

.card{
  border-radius: 12px;
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.8);
  background:hsl(0, 0%, 7%);
  padding: 30px;
  width: 360px;
  height: auto;
  color: hsl(0, 0%, 93%);
}

.title{
  font-size: 22px;
  margin-bottom: 20px;
}

label{
  font-size: 13px;
  color: hsl(0, 0%, 80%);
}

input,select{
  width: 100%;
  margin: 8px 0 16px;
  padding: 10px;
  border-radius: 6px;
  border: 1.5px solid hsl(0, 0%, 11%);
  outline: none;
  background: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 95%);
}

input::placeholder {
  color: hsl(0, 0%, 48%);
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: hsl(346, 59%, 48%);
  color: hsl(0, 0%, 95%);
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: hsl(346, 59%, 53%);
}

.signin{
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: hsl(0, 0%, 59%);
}

.signin a {
  color: hsl(355, 58%, 48%);
}
